.table {
  width: 400px;
  border: 2px solid rgb(144, 80, 208);
  border-radius: 10px;
  border-collapse: collapse;
  margin: 30px;
}

.head {
  font-size: 24px;
  font-weight: 600;
  background-color: #d090fd;
  color: rgb(47, 46, 46);
}

.th,
.td {
  padding: 12px 16px;
  border: 1px solid gray;
  text-align: center;
}

.body .tr:nth-child(even) .td {
  background-color: #521856;
}
